@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --secondary-background: #090b0c;

  --chrome-light-gray: #909CA4;
  --chrome-gray: #62747B;
  --chrome-gradient: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(98, 116, 123, 1) 50%, rgba(7, 18, 27, 1) 100%);

}

*::selection {
  background-color: #141022;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-secondary-background: var(--secondary-background);

  --color-chrome-light-gray: var(--chrome-light-gray);
  --color-chrome-gray: var(--chrome-gray);
  --color-chrome-gradient: var(--chrome-gradient);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes flicker {
  0% {
    filter: brightness(1.5)
  }
}

@keyframes tv-animation {
  0% {
    filter: brightness(125) contrast(125);
    transform: scaleY(100%);
  }

  50% {
    transform: scaleY(0%)
  }

  100% {
    transform: scaleY(100%);
  }
}

@keyframes opacity-anim {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes brightnessPing {
  0% {
    filter: brightness(1);
  }

  50% {
    filter: brightness(2);
  }

  100% {
    filter: brightness(1);
  }
}

@keyframes blink {
  0% {
    filter: brightness(1);
  }

  100% {
    filter: brightness(2);
  }
}

@keyframes levitation {
  0% {
    transform: translateY(-8);
  }

  50% {
    transform: translateY(8);
  }

  100% {
    transform: translateY(-8);
  }
}

body {
  background: var(--background);
  /* background-image: url("/static.gif"); */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #62747B;
}

.tv-tube-border {
  background-size: 100% 100%;
  z-index: 10;
}

.tv-tube-shape {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.tv-tube-shape::before {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(233, 229, 229, 0) 50%, rgba(29, 21, 21, 0.25) 50%), linear-gradient(90deg, rgba(0, 111, 155, 0.06), rgba(16, 0, 155, 0.02), rgba(55, 0, 255, 0.06));
  background-size: 100% 2px, 3px 100%;
  z-index: 7;
  pointer-events: none;
  animation: flicker .15s infinite;
}